# Tables of Random lists

### Read and sort data by list type

In [1]:
import pandas as pd
merge = pd.read_pickle('../data/benchmark_merge_sort')
merge['Algorithm'] = 'Merge sort'
tim = pd.read_pickle('../data/benchmark_tim_sort')
tim['Algorithm'] = 'Tim sort'
quick = pd.read_pickle('../data/benchmark_quick_sort')
quick['Algorithm'] = 'Quick sort'
insertion = pd.read_pickle('../data/benchmark_insertion_sort')
insertion['Algorithm'] = 'Insertion sort'
bubble = pd.read_pickle('../data/benchmark_bubble_sort')
bubble['Algorithm'] = 'Bubble sort'
numpy = pd.read_pickle('../data/benchmark_numpy_sort')
numpy['Algorithm'] = 'Numpy sort'
python = pd.read_pickle('../data/benchmark_python_sort')
python['Algorithm'] = 'Pyhton sort'

In [2]:
merge_rand_int = pd.DataFrame(merge.query("list_type == 'random_int_list'"))
tim_rand_int = pd.DataFrame(tim.query("list_type == 'random_int_list'"))
quick_rand_int = pd.DataFrame(quick.query("list_type == 'random_int_list'"))
insertion_rand_int = pd.DataFrame(insertion.query("list_type == 'random_int_list'"))
bubble_rand_int = pd.DataFrame(bubble.query("list_type == 'random_int_list'"))
numpy_rand_int = pd.DataFrame(numpy.query("list_type == 'random_int_list'"))
python_rand_int = pd.DataFrame(python.query("list_type == 'random_int_list'"))

In [3]:
merge_rand_float = pd.DataFrame(merge.query("list_type == 'random_float_list'"))
tim_rand_float = pd.DataFrame(tim.query("list_type == 'random_float_list'"))
quick_rand_float = pd.DataFrame(quick.query("list_type == 'random_float_list'"))
insertion_rand_float = pd.DataFrame(insertion.query("list_type == 'random_float_list'"))
bubble_rand_float = pd.DataFrame(bubble.query("list_type == 'random_float_list'"))
numpy_rand_float = pd.DataFrame(numpy.query("list_type == 'random_float_list'"))
python_rand_float = pd.DataFrame(python.query("list_type == 'random_float_list'"))

In [4]:
merge_string = pd.DataFrame(merge.query("list_type == 'string_list'"))
tim_string = pd.DataFrame(tim.query("list_type == 'string_list'"))
quick_string = pd.DataFrame(quick.query("list_type == 'string_list'"))
insertion_string = pd.DataFrame(insertion.query("list_type == 'string_list'"))
bubble_string = pd.DataFrame(bubble.query("list_type == 'string_list'"))
numpy_string = pd.DataFrame(numpy.query("list_type == 'string_list'"))
python_string = pd.DataFrame(python.query("list_type == 'string_list'"))

## Random integer list

In [5]:
rand_int_lists = [merge_rand_int, 
                  quick_rand_int, 
                  tim_rand_int, 
                  insertion_rand_int,
                  bubble_rand_int,
                  python_rand_int,
                  numpy_rand_int
                 ]
res_int = pd.concat(rand_int_lists)
res_int['milli_time'] = round(1000000*(res_int['time']), 2)
data_wide_int = res_int.pivot('size', 'Algorithm', 'milli_time')
data_wide_int

Algorithm,Bubble sort,Insertion sort,Merge sort,Numpy sort,Pyhton sort,Quick sort,Tim sort
size,,,,,,,
10,7.71,5.44,15.81,5.02,0.87,9.08,8.56
20,31.29,18.58,37.14,5.83,1.64,18.33,21.00
40,127.63,57.21,86.53,7.30,3.89,42.76,54.71
80,437.71,239.02,187.13,10.44,9.04,106.33,139.03
160,1712.26,1006.80,433.69,16.28,21.48,248.35,332.41
320,6883.41,3576.36,974.05,28.34,50.88,512.90,807.99
640,32826.15,15901.00,2143.39,61.06,115.81,1140.16,1919.34
1280,132777.27,70110.37,4553.60,126.92,263.36,2431.64,4335.89
2560,556930.00,280568.27,10062.85,269.67,584.12,5716.58,10054.66
5120,2370172.00,1108111.10,21737.05,558.43,1286.85,12889.39,23768.62
10240,9637399.60,4624960.50,47294.56,1148.95,2810.41,27867.25,46967.00
20480,NaN,19193233.50,101583.11,2352.23,6105.36,68946.80,99882.13
40960,NaN,NaN,222550.53,4852.71,13233.89,131755.57,214359.42
81920,NaN,NaN,472772.05,10181.34,28764.05,235465.63,486441.50
163840,NaN,NaN,1012186.90,21937.53,64392.15,502939.10,1021534.60
327680,NaN,NaN,2190271.40,44687.62,146994.07,1130983.10,2308430.80
655360,NaN,NaN,4639176.60,90986.29,336318.90,2581400.40,4784455.20
1310720,NaN,NaN,NaN,185501.10,762391.90,5441058.90,NaN
2621440,NaN,NaN,NaN,380655.05,1702307.50,NaN,NaN
5242880,NaN,NaN,NaN,776423.70,3765022.50,NaN,NaN
10485760,NaN,NaN,NaN,1583889.30,8363834.50,NaN,NaN
20971520,NaN,NaN,NaN,3242100.60,NaN,NaN,NaN
41943040,NaN,NaN,NaN,6633022.10,NaN,NaN,NaN

In [6]:
print(data_wide_int.to_latex())

\begin{tabular}{lrrrrrrr}
\toprule
Algorithm &  Bubble sort &  Insertion sort &  Merge sort &  Numpy sort &  Pyhton sort &  Quick sort &    Tim sort \\
size     &              &                 &             &             &              &             &             \\
\midrule
10       &         7.71 &            5.44 &       15.81 &        5.02 &         0.87 &        9.08 &        8.56 \\
20       &        31.29 &           18.58 &       37.14 &        5.83 &         1.64 &       18.33 &       21.00 \\
40       &       127.63 &           57.21 &       86.53 &        7.30 &         3.89 &       42.76 &       54.71 \\
80       &       437.71 &          239.02 &      187.13 &       10.44 &         9.04 &      106.33 &      139.03 \\
160      &      1712.26 &         1006.80 &      433.69 &       16.28 &        21.48 &      248.35 &      332.41 \\
320      &      6883.41 &         3576.36 &      974.05 &       28.34 &        50.88 &      512.90 &      807.99 \\
640      &     32826.15 &        15901.00 &     2143.39 &       61.06 &       115.81 &     1140.16 &     1919.34 \\
1280     &    132777.27 &        70110.37 &     4553.60 &      126.92 &       263.36 &     2431.64 &     4335.89 \\
2560     &    556930.00 &       280568.27 &    10062.85 &      269.67 &       584.12 &     5716.58 &    10054.66 \\
5120     &   2370172.00 &      1108111.10 &    21737.05 &      558.43 &      1286.85 &    12889.39 &    23768.62 \\
10240    &   9637399.60 &      4624960.50 &    47294.56 &     1148.95 &      2810.41 &    27867.25 &    46967.00 \\
20480    &          NaN &     19193233.50 &   101583.11 &     2352.23 &      6105.36 &    68946.80 &    99882.13 \\
40960    &          NaN &             NaN &   222550.53 &     4852.71 &     13233.89 &   131755.57 &   214359.42 \\
81920    &          NaN &             NaN &   472772.05 &    10181.34 &     28764.05 &   235465.63 &   486441.50 \\
163840   &          NaN &             NaN &  1012186.90 &    21937.53 &     64392.15 &   502939.10 &  1021534.60 \\
327680   &          NaN &             NaN &  2190271.40 &    44687.62 &    146994.07 &  1130983.10 &  2308430.80 \\
655360   &          NaN &             NaN &  4639176.60 &    90986.29 &    336318.90 &  2581400.40 &  4784455.20 \\
1310720  &          NaN &             NaN &         NaN &   185501.10 &    762391.90 &  5441058.90 &         NaN \\
2621440  &          NaN &             NaN &         NaN &   380655.05 &   1702307.50 &         NaN &         NaN \\
5242880  &          NaN &             NaN &         NaN &   776423.70 &   3765022.50 &         NaN &         NaN \\
10485760 &          NaN &             NaN &         NaN &  1583889.30 &   8363834.50 &         NaN &         NaN \\
20971520 &          NaN &             NaN &         NaN &  3242100.60 &          NaN &         NaN &         NaN \\
41943040 &          NaN &             NaN &         NaN &  6633022.10 &          NaN &         NaN &         NaN \\
\bottomrule
\end{tabular}

## Random float list

In [7]:
rand_float_lists = [merge_rand_float, 
                    quick_rand_float, 
                    tim_rand_float, 
                    insertion_rand_float,
                    bubble_rand_float,
                    python_rand_float,
                    numpy_rand_float
                    ]
res_float = pd.concat(rand_float_lists)
res_float['milli_time'] = round(1000000*(res_float['time']), 2)
data_wide_float = res_float.pivot('size', 'Algorithm', 'milli_time')
data_wide_float

Algorithm,Bubble sort,Insertion sort,Merge sort,Numpy sort,Pyhton sort,Quick sort,Tim sort
size,,,,,,,
10,10.05,8.20,15.74,5.10,1.01,8.97,9.72
20,31.57,39.92,36.89,5.99,2.00,18.62,28.12
40,113.77,86.69,94.89,7.43,4.55,46.52,57.74
80,455.93,335.24,199.12,10.42,10.86,91.87,151.39
160,1722.10,1021.06,437.17,16.72,25.43,218.06,326.16
320,6872.22,4435.10,942.06,28.75,60.11,493.46,819.52
640,32371.29,18562.88,2112.12,61.29,138.12,1285.62,1855.19
1280,142202.54,67088.30,4572.20,136.05,309.95,2633.20,4336.80
2560,593854.10,272439.63,10062.58,287.16,690.59,5404.75,9707.13
5120,2412544.90,1095889.30,21700.29,594.29,1510.20,12706.59,22209.55
10240,9995979.60,4478659.90,47606.04,1220.60,3306.79,26008.93,47404.91
20480,NaN,19283891.80,110975.17,2512.55,7176.24,57225.83,101447.29
40960,NaN,NaN,220856.25,5229.71,15551.63,122334.50,212251.30
81920,NaN,NaN,495093.80,11370.70,34276.16,242154.67,460211.85
163840,NaN,NaN,1011386.40,23646.10,74905.15,599616.60,1026866.00
327680,NaN,NaN,2198000.90,48492.21,171721.42,1208092.50,2276578.00
655360,NaN,NaN,4797241.40,99455.91,388582.50,2665149.70,4925993.80
1310720,NaN,NaN,10212441.40,203150.42,873719.30,6138628.60,NaN
2621440,NaN,NaN,NaN,414442.50,1950357.30,NaN,NaN
5242880,NaN,NaN,NaN,848011.20,4327034.80,NaN,NaN
10485760,NaN,NaN,NaN,1735184.80,9494802.40,NaN,NaN
20971520,NaN,NaN,NaN,3540964.30,NaN,NaN,NaN
41943040,NaN,NaN,NaN,7283639.10,NaN,NaN,NaN

In [8]:
print(data_wide_float.to_latex())

\begin{tabular}{lrrrrrrr}
\toprule
Algorithm &  Bubble sort &  Insertion sort &   Merge sort &  Numpy sort &  Pyhton sort &  Quick sort &    Tim sort \\
size     &              &                 &              &             &              &             &             \\
\midrule
10       &        10.05 &            8.20 &        15.74 &        5.10 &         1.01 &        8.97 &        9.72 \\
20       &        31.57 &           39.92 &        36.89 &        5.99 &         2.00 &       18.62 &       28.12 \\
40       &       113.77 &           86.69 &        94.89 &        7.43 &         4.55 &       46.52 &       57.74 \\
80       &       455.93 &          335.24 &       199.12 &       10.42 &        10.86 &       91.87 &      151.39 \\
160      &      1722.10 &         1021.06 &       437.17 &       16.72 &        25.43 &      218.06 &      326.16 \\
320      &      6872.22 &         4435.10 &       942.06 &       28.75 &        60.11 &      493.46 &      819.52 \\
640      &     32371.29 &        18562.88 &      2112.12 &       61.29 &       138.12 &     1285.62 &     1855.19 \\
1280     &    142202.54 &        67088.30 &      4572.20 &      136.05 &       309.95 &     2633.20 &     4336.80 \\
2560     &    593854.10 &       272439.63 &     10062.58 &      287.16 &       690.59 &     5404.75 &     9707.13 \\
5120     &   2412544.90 &      1095889.30 &     21700.29 &      594.29 &      1510.20 &    12706.59 &    22209.55 \\
10240    &   9995979.60 &      4478659.90 &     47606.04 &     1220.60 &      3306.79 &    26008.93 &    47404.91 \\
20480    &          NaN &     19283891.80 &    110975.17 &     2512.55 &      7176.24 &    57225.83 &   101447.29 \\
40960    &          NaN &             NaN &    220856.25 &     5229.71 &     15551.63 &   122334.50 &   212251.30 \\
81920    &          NaN &             NaN &    495093.80 &    11370.70 &     34276.16 &   242154.67 &   460211.85 \\
163840   &          NaN &             NaN &   1011386.40 &    23646.10 &     74905.15 &   599616.60 &  1026866.00 \\
327680   &          NaN &             NaN &   2198000.90 &    48492.21 &    171721.42 &  1208092.50 &  2276578.00 \\
655360   &          NaN &             NaN &   4797241.40 &    99455.91 &    388582.50 &  2665149.70 &  4925993.80 \\
1310720  &          NaN &             NaN &  10212441.40 &   203150.42 &    873719.30 &  6138628.60 &         NaN \\
2621440  &          NaN &             NaN &          NaN &   414442.50 &   1950357.30 &         NaN &         NaN \\
5242880  &          NaN &             NaN &          NaN &   848011.20 &   4327034.80 &         NaN &         NaN \\
10485760 &          NaN &             NaN &          NaN &  1735184.80 &   9494802.40 &         NaN &         NaN \\
20971520 &          NaN &             NaN &          NaN &  3540964.30 &          NaN &         NaN &         NaN \\
41943040 &          NaN &             NaN &          NaN &  7283639.10 &          NaN &         NaN &         NaN \\
\bottomrule
\end{tabular}

## String list

In [9]:
string_lists = [merge_string, 
                quick_string, 
                tim_string, 
                insertion_string,
                bubble_string,
                python_string,
                numpy_string
                ]
res_string = pd.concat(string_lists)
res_string['milli_time'] = round(1000000*(res_string['time']),2)
data_wide_string = res_string.pivot('size', 'Algorithm', 'milli_time')
data_wide_string

Algorithm,Bubble sort,Insertion sort,Merge sort,Numpy sort,Pyhton sort,Quick sort,Tim sort
size,,,,,,,
10,8.58,5.18,15.56,6.39,1.08,7.84,5.78
20,34.22,18.64,39.17,7.74,1.74,18.98,25.15
40,110.89,51.73,91.79,10.56,3.81,56.18,54.84
80,457.79,222.25,193.89,16.56,8.95,104.22,139.09
160,1843.56,835.11,440.39,27.42,21.71,281.66,322.80
320,6426.35,3383.83,974.07,50.56,52.30,755.23,765.87
640,32747.48,15353.03,2103.81,102.00,114.25,2183.64,1853.72
1280,143920.70,62730.10,4712.57,215.55,246.54,7022.39,4223.77
2560,566998.90,280347.45,9826.05,440.97,511.92,23515.70,9547.42
5120,2320593.70,1031584.30,21986.50,890.77,1048.46,89386.64,20849.81
10240,9623402.30,4237909.70,52047.02,1782.83,2121.67,332108.55,45948.43
20480,NaN,17806277.40,103580.23,3549.53,4283.83,1342733.40,97995.00
40960,NaN,NaN,235675.45,7361.95,8748.94,NaN,213079.32
81920,NaN,NaN,495510.90,16600.86,18628.55,NaN,521340.10
163840,NaN,NaN,1066313.80,32542.90,38396.53,NaN,1065043.90
327680,NaN,NaN,2275926.50,66531.22,76767.30,NaN,2362515.20
655360,NaN,NaN,5149175.10,133640.24,154229.37,NaN,5169781.20
1310720,NaN,NaN,NaN,267118.83,311507.57,NaN,NaN
2621440,NaN,NaN,NaN,538751.90,623370.70,NaN,NaN
5242880,NaN,NaN,NaN,1079937.00,1255404.60,NaN,NaN
10485760,NaN,NaN,NaN,2180714.80,2522949.60,NaN,NaN
20971520,NaN,NaN,NaN,4406917.80,5076702.80,NaN,NaN
41943040,NaN,NaN,NaN,8940774.40,NaN,NaN,NaN

In [10]:
print(data_wide_string.to_latex())

\begin{tabular}{lrrrrrrr}
\toprule
Algorithm &  Bubble sort &  Insertion sort &  Merge sort &  Numpy sort &  Pyhton sort &  Quick sort &    Tim sort \\
size     &              &                 &             &             &              &             &             \\
\midrule
10       &         8.58 &            5.18 &       15.56 &        6.39 &         1.08 &        7.84 &        5.78 \\
20       &        34.22 &           18.64 &       39.17 &        7.74 &         1.74 &       18.98 &       25.15 \\
40       &       110.89 &           51.73 &       91.79 &       10.56 &         3.81 &       56.18 &       54.84 \\
80       &       457.79 &          222.25 &      193.89 &       16.56 &         8.95 &      104.22 &      139.09 \\
160      &      1843.56 &          835.11 &      440.39 &       27.42 &        21.71 &      281.66 &      322.80 \\
320      &      6426.35 &         3383.83 &      974.07 &       50.56 &        52.30 &      755.23 &      765.87 \\
640      &     32747.48 &        15353.03 &     2103.81 &      102.00 &       114.25 &     2183.64 &     1853.72 \\
1280     &    143920.70 &        62730.10 &     4712.57 &      215.55 &       246.54 &     7022.39 &     4223.77 \\
2560     &    566998.90 &       280347.45 &     9826.05 &      440.97 &       511.92 &    23515.70 &     9547.42 \\
5120     &   2320593.70 &      1031584.30 &    21986.50 &      890.77 &      1048.46 &    89386.64 &    20849.81 \\
10240    &   9623402.30 &      4237909.70 &    52047.02 &     1782.83 &      2121.67 &   332108.55 &    45948.43 \\
20480    &          NaN &     17806277.40 &   103580.23 &     3549.53 &      4283.83 &  1342733.40 &    97995.00 \\
40960    &          NaN &             NaN &   235675.45 &     7361.95 &      8748.94 &         NaN &   213079.32 \\
81920    &          NaN &             NaN &   495510.90 &    16600.86 &     18628.55 &         NaN &   521340.10 \\
163840   &          NaN &             NaN &  1066313.80 &    32542.90 &     38396.53 &         NaN &  1065043.90 \\
327680   &          NaN &             NaN &  2275926.50 &    66531.22 &     76767.30 &         NaN &  2362515.20 \\
655360   &          NaN &             NaN &  5149175.10 &   133640.24 &    154229.37 &         NaN &  5169781.20 \\
1310720  &          NaN &             NaN &         NaN &   267118.83 &    311507.57 &         NaN &         NaN \\
2621440  &          NaN &             NaN &         NaN &   538751.90 &    623370.70 &         NaN &         NaN \\
5242880  &          NaN &             NaN &         NaN &  1079937.00 &   1255404.60 &         NaN &         NaN \\
10485760 &          NaN &             NaN &         NaN &  2180714.80 &   2522949.60 &         NaN &         NaN \\
20971520 &          NaN &             NaN &         NaN &  4406917.80 &   5076702.80 &         NaN &         NaN \\
41943040 &          NaN &             NaN &         NaN &  8940774.40 &          NaN &         NaN &         NaN \\
\bottomrule
\end{tabular}